{% extends 'pages/mainTemplate.html' %}
{% block title %}Список индивидуальных планов{% endblock %}
{% block pagename %}Список индивидуальных планов: {{user.last_name}} {{user.first_name}}{% endblock %}
{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Год</th>
          <th>Ссылка на план</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2014</td>
          <td><a href="{% url 'tpplan' %}?year=2014">Перейти</a></td>
        </tr>
        <tr>
          <td>2015</td>
          <td><a href="{% url 'tpplan' %}?year=2015">Перейти</a></td>
        </tr>
        <tr>
          <td>2016</td>
          <td><a href="{% url 'tpplan' %}?year=2016">Перейти</a></td>
        </tr>
        <tr>
          <td>2017</td>
          <td><a href="{% url 'tpplan' %}?year=2017">Перейти</a></td>
        </tr>
        <tr>
          <td>2018</td>
          <td><a href="{% url 'tpplan' %}?year=2018">Перейти</a></td>
        </tr>
      </tbody>
    </table>
{% endblock %}
