{% extends 'pages/mainTemplate.html' %}
{% block title %}Индивидуальный план{% endblock %}
{% block pagename %}Индивидуальный план: {{user.first_name}} {{user.last_name}} 2017г.{% endblock %}
{% block content %}

    <h3>Подготовка учебников, учебных пособий и методических указаний, включая электронные издания</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Вид издания</th>
          <th>Объем</th>
          <th>Вид грифа</th>
          <th>Срок сдачи рукописи</th>
          <th>Отметка  о выполнении</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Имя</td>
            <td>Вид</td>
            <td>Объем</td>
            <td>Вид грифа</td>
            <td>Срок сдачи рукописи</td>
            <td>5</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </tbody>
    </table>
    <h3>Постановка и модернизация дисциплин</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Наименование дисциплины</th>
              <th>Вид занятий</th>
              <th>Характер изменения</th>
              <th>Отметка  о выполнении</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h3>Научно-исследовательская  работа в университете и вне университета</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Наименование работы</th>
              <th>Период</th>
              <th>В качестве кого участвовал</th>
              <th>Организация или предприятие</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h3>Участие в конференциях и выставках</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Дата</th>
              <th>Наименование конференции или выставки</th>
              <th>Уровень конференции или выставки</th>
              <th>Наименование доклада или экспоната</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h3>Список публикаций</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Название работы</th>
              <th>Вид публикации</th>
              <th>Место издания</th>
              <th>Редактор</th>
              <th>Объем в п.л.</th>
              <th>Название издательства</th>
                <th>Объем в п.л.</th>
              <th>Название издательства</th>
                <th>Объем в п.л.</th>
              <th>Название издательства</th>
                <th>Объем в п.л.</th>
              <th>Название издательства</th>
            </tr>
        </thead>
        {% for i in publ %}
            <tr>
            <td style="max-width: 10px">{{ i.name }}</td>
            <td style="max-width: 10px">{{ i.publicationType }}</td>
            <td style="max-width: 10px">{{ i.place }}</td>
            <td style="max-width: 10px">{{ i.editor }}</td>
            <td style="max-width: 10px">{{ i.volume }}</td>
            <td style="max-width: 10px">{{ i.publishingHouseName }}</td>
            <td style="max-width: 10px">{{ i.publishingHouseName }}</td>
            <td style="max-width: 10px">{{ i.publishingHouseName }}</td>
            <td style="max-width: 10px">{{ i.volume }}</td>
            <td style="max-width: 10px">{{ i.publishingHouseName }}</td>
            <td style="max-width: 10px">{{ i.volume }}</td>
            <td style="max-width: 10px">{{ i.publishingHouseName }}</td>
             </tr>
        {% endfor %}
    </table>
    <h3>Повышение  квалификации</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Период</th>
              <th>Форма повышения квалификации</th>
              <th>Документ</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h3>Другие виды работ</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Период</th>
              <th>Вид работы</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}
