{% extends 'pages/mainTemplate.html' %}
{% block title %}Профиль{% endblock %}
{% block pagename %}Профиль{% endblock %}
{% block content %}
        <form role="form">
            <div class="controls new-plan">
              <label>Факультет</label>
              <input class="form-control" placeholder="ФКТИ" type="text">
              <label>Кафедра</label>
              <input class="form-control" placeholder="МОЭВМ" type="text">
                <label>Должность</label>
              <input class="form-control" placeholder="{% if profile.type == 's' %}Студент {% endif %}{% if profile.type == 'h' %}Староста {% endif %}{% if profile.type == 't' %}Преподаватель {% endif %}{% if profile.type == 'a' %}Администратор {% endif %}" type="text">
                <label>Фамилия</label>
              <input class="form-control" placeholder="{{ user.last_name }}" type="text">
                <label>Имя</label>
              <input class="form-control" placeholder="{{ user.first_name }}" type="text">
                <label>Отчество</label>
              <input class="form-control" placeholder="{{ profile.patronymic }}" type="text">
                <label>Год рождения</label>
              <input class="form-control" placeholder="{{ profile.birth_date.isoformat }}" type="text">
                <label>Год вступления в должность</label>
              <input class="form-control" placeholder="{{ profile.election_date.isoformat }}" type="text">
                <label>Ученая степень</label>
              <input class="form-control" placeholder="{% if profile.academic_status == 'a' %}Ассистент {% endif %}{% if profile.academic_degree == 's' %}Старший преподаватель {% endif %}{% if profile.academic_degree == 'd' %}Доцент {% endif %}{% if profile.academic_degree == 'p' %}Профессор {% endif %}" type="text">
                <label>Год присуждения</label>
              <input class="form-control" placeholder="{{ profile.year_of_academic_status.isoformat }}" type="text">
                <label>Ученое звание</label>
              <input class="form-control" placeholder="{% if profile.academic_degree == 'n' %}Без степени {% endif %}{% if profile.academic_degree == 't' %}Кандидат Наук {% endif %}{% if profile.academic_degree == 'd' %}Доктор Наук {% endif %}" type="text">
                <label>Год присуждения</label>
              <input class="form-control" placeholder="{{ profile.year_of_academic_degree.isoformat }}" type="text">
                <label>Дата переизбрания(окончание трудового договора)</label>
              <input class="form-control" placeholder="{{ profile.contract_date.isoformat }}" type="text">
              <input class="btn btn-primary" type="submit" value="Сохранить">
            </div>
        </form>
{% endblock %}
