{% extends 'pages/mainTemplate.html' %}
{% block title %}Индивидуальный план преподавателя {% endblock %}
{% block pagename %}Здравствуйте, {{user.last_name}} {{user.first_name}} {{ profile.patronymic }}!{% endblock %}
{% block content %}

Добро пожаловать на страницу с вашим индивидуальным планом. Здесь Вы можете добавить Ваши научные достижения, а также вести учет своих дисциплин.<br>
<br>
Он станет Вам незаменимым помощником в Вашей работе.<br>
<br>
P.S.: В случае обнаружения проблем обращайтесь к Администратору.<br>

{% endblock %}
