{# Input data: #}
{# form_info{text: str, name: str, fields: array #}
{# fields {text: str, name: str, type: str, opts: array, value: str #}
{# Output: submitInfo(info) #}

{% macro dis_or_req(bool) %}
    {% if bool %}
        disabled
    {% else %}
        required
    {% endif %}
{% endmacro %}

<script>
    var date = new Date();
    var year = date.getFullYear();
    var textdate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
</script>
<form id="{{ form_info.name + '_form' }}" class="container-fluid">
    {% for k in range(form_info.fields|length) %}
        {% if form_info.fields[k].text != '%NO_VERBOSE_NAME%' %}
            <div class="form-group">
                {% set field = form_info.fields[k] %}
                {% set name = form_info.name + '_' + field.name %}
                <label for="{{ name }}">
                    {{ field.text }}
                </label>
                {% if field.opts|length != 0 %}
                    <select class="form-control" id="{{ name }}" {{ dis_or_req(field.fixed) }}>
                        {% for i in range(field.opts|length) %}
                            <option value="{{ name + '_' + i|string }}" id = {{ name + '_' + i|string }}
                                    {% if field.value == field.opts[i] %} selected="selected" {% endif %}>
                                {{ field.opts[i] }}
                            </option>
                        {% endfor %}
                    </select>
                {% else %}
                    {% if name == "profile_login" or name == "profile_password" %}
                    <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                           pattern="[0-9-A-Za-zА-Яа-яЁё]{1,50}" {{ dis_or_req(field.fixed) }}>
                    {% elif field.type == "text" %}
                    <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                           pattern="[0-9. A-Za-zА-Яа-яЁё]{1,250}" {{ dis_or_req(field.fixed) }}>
                    {% elif field.type == "date" %}
                    <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                           min="1900-01-01" {{ dis_or_req(field.fixed) }}>
                    <script>document.getElementById('{{ name }}').max = textdate;</script>
                    {% elif field.type == "number" and name!= "profile_year_of_academic_status" %}
                    <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                           pattern="[0-9]{1,15}" {{ dis_or_req(field.fixed) }}>
                    {% else %}
                    <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                           min="1900" {{ dis_or_req(field.fixed) }}>
                    <script>document.getElementById('{{ name }}').max = year;</script>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary" id = "reg_{{ form_info.name }}_button">Сохранить</button>
    <script>
        $("#{{ form_info.name + '_form' }}").submit( function(event) {
            submitInfo({{ info }});
            event.preventDefault();
        });
    </script>
    <p></p>
</form>