{# Input data: #}
{# form_info{text: str, name: str, fields: array #}
{# fields {text: str, name: str, type: str, opts: array, value: str #}
{# Output: submitInfo(info) #}

{% macro dis_or_req(fixed, is_token) %}
    {% if fixed and not form_info.fixed_disabled %}
        disabled
    {% elif not is_token %}
        required
    {% endif %}
{% endmacro %}

<script>
    var date = new Date();
    var year = date.getFullYear();
    var textdate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
</script>
<form id="{{ form_info.name + '_form' }}" class="container-fluid">
    {% for k in range(form_info.fields|length) %}
        {% if form_info.fields[k].text != '%NO_VERBOSE_NAME%' %}
            <div class="form-group">
                {% set field = form_info.fields[k] %}
                {% set name = form_info.name + '_' + field.name %}
                <label for="{{ name }}">
                    {{ field.text }}
                </label>
                {% if field.opts|length != 0 %}
                    <select class="form-control" id="{{ name }}" {{ dis_or_req(field.fixed) }}>
                        {% for i in range(field.opts|length) %}
                            <option value="{{ name + '_' + i|string }}" id = {{ name + '_' + i|string }}
                                    {% if field.value == field.opts[i] %} selected="selected" {% endif %}>
                                {{ field.opts[i] }}
                            </option>
                        {% endfor %}
                    </select>
                {% else %}
                    {% if field.type == 'text' %}
                        {% set validate_pattern = "[0-9. A-Za-zА-Яа-яЁё_]{1,1000}" %}
                        {% set is_token = false %}
                        {% if field.validate_rule == "id" %}
                            {% set validate_pattern = "[0-9A-Za-z_.]{1,50}" %}
                        {% elif field.validate_rule == "string" %}
                            {% set vailidate_pattern = "[0-9-A-Za-zА-Яа-яЁё_.]{1,50}" %}
                        {% elif field.validate_rule == "token" %}
                            {% set vailidate_pattern = "[0-9a-f]{1,30}" %}
                            {% set is_token = true %}
                        {% endif %}
                        <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                               pattern="{{ validate_pattern }}" {{ dis_or_req(field.fixed, is_token) }}>
                    {% elif field.type == 'password' %}
                        <input class="form-control mb-3" type="{{ field.type }}" id = "{{ name }}"
                               {{ dis_or_req(field.fixed) }}>
                        <label for="{{ name + "_repeat" }}">
                            Повторите: {{ field.text }}
                        </label>
                        <input class="form-control" type="{{ field.type }}" id = "{{ name + "_repeat" }}"
                               {{ dis_or_req(field.fixed) }}>
                    {% elif field.type == "date" %}
                        <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                               min="1900-01-01" max="2100-01-01" {{ dis_or_req(field.fixed) }}>
                        {% if field.validate_rule == "date" %}
                            <script>document.getElementById('{{ name }}').max = textdate;</script>
                        {% endif %}
                    {% elif field.type == "number" %}
                        <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                                {{ dis_or_req(field.fixed) }}>
                        {% if field.validate_rule == "year" %}
                            <script>
                                let field = document.getElementById('{{ name }}');
                                field.min = 1900;
                                field.max = year;
                            </script>
                        {% elif field.validate_rule == "allyear" %}
                            <script>
                                let field = document.getElementById('{{ name }}');
                                field.min = 1900;
                                field.max = 2100;
                            </script>
                        {% endif %}
                    {% else %}
                        <input class="form-control" type="{{ field.type }}" id = "{{ name }}" value="{{ field.value }}"
                               min="1900" {{ dis_or_req(field.fixed) }}>
                        <script>document.getElementById('{{ name }}').max = year;</script>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary" id = "reg_{{ form_info.name }}_button">Сохранить</button>
    <script>
        $("#{{ form_info.name + '_form' }}").submit( function(event) {
            submitInfo({{ info }});
            event.preventDefault();
        });
    </script>
    <p></p>
</form>