{% extends 'mainTemplate.html' %}
{% block title %} Список пользователей {% endblock %}
{% block pagename %} Список пользователей {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">Фильтр</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label for="type_select">Сортировка:</label><br>
                        <select class="form-control mb-3" id="type_select">

                        </select>
                        <button class="btn btn-primary btn-block" onclick="printUsers()">Вывести</button>
                    </div>
                    <div class="col-sm-12 col-md-5" id="fields_select">
                        <label>Поля:</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">Результат</div>
            <div class="card-body" id="users_container"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/listOfUsers.js')}}"></script>
{% endblock %}