{% extends 'mainTemplate.html' %}
{% block title %}Список планов{% endblock %}
{% block pagename %}
    {% if user.type == 'Преподаватель' %}
        Список индивидуальных планов: {{ user.last_name }} {{ user.first_name }}
    {% else %}
        Индивидуальные планы
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-3">
                <label>Пользователь</label>
                <select class="custom-select" id="user_select">
                    {% for user in available_users %}
                        <option value="{{ user.user.id }}">
                            {{ user.last_name }}
                            {{ user.first_name }}
                            {{ user.patronymic }}
                        </option>
                    {% endfor %}
                    {% if user.type != 'Преподаватель' %}
                        <option value="All">
                            Все доступные
                        </option>
                    {% endif %}
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="year_range">Год: </label>
                <input type="text" id="year_range" style="border: 0" readonly>
                <div class="py-3">
                    <div id="year_slider"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="btn-toolbar row" role="group" data-toggle="buttons">
                    {% set resp_buttons = 'col' %}
                    <div class="{{ resp_buttons }}">
                        <label for="filter_button">&nbsp</label><br>
                        <button id="filter_button" class="btn btn-primary btn-block" onclick="showPlans()">Показать</button>
                    </div>
                    <div class="{{ resp_buttons }}">
                        <label for="full_button">&nbsp</label><br>
                        <button id="full_button" class="btn btn-primary btn-block" onclick="toggleSimple()">Вывод: всё</button>
                    </div>
                </div>
            </div>
            <div class="col-12" id="plans_container">

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(()=>{
            let slider = $("#year_slider");
            slider.slider({
                range: true,
                min: 2014,
                max: 2023,
                values: [2014, 2018],
                slide: (event, ui) =>{
                    $("#year_range").val(ui.values[ 0 ] + " - " + ui.values[ 1 ])
                }
            });
            $("#year_range").val(slider.slider( "values", 0 ) +
                " - " + slider.slider( "values", 1 ) );
        })
    </script>
    <script src="{{ url_for('static', filename='javascript/listOfPlans.js') }}"> </script>
{% endblock %}