{% extends 'mainTemplate.html' %}
{% block title %}Создание индивидуального плана{% endblock %}
{% block pagename %}Создание индивидуального плана{% endblock %}
{% block content %}
    <div>
        <div class="form-row">
            <div class="col-sm-12 col-md-8">
                <label for="selectWork">Выберите тип работы:</label>
                <select class="form-control mb-3" id="selectWork">
                    {% for i in range(models|length) %}
                        <option value="{{ models[i].name }}">{{ models[i].text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-12 col-md-2">
                <label for="selectYear">Год:</label>
                <select class="form-control" id="selectYear">
                    {% for i in range(2014, 2024) %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-12 col-md-2 mb-3">
                <label>&nbsp;</label>
                <button type="button" class="form-control btn btn-primary" onclick="showReq()"> Выбрать</button>
            </div>
        </div>
        {% for i in range(models|length) %}
            {% set form_info = models[i] %}
            {% set info = "`" + form_info.name + "`" + ", `/newplan`, models[" + i|string + "].fields, `POST`,
                          {
                            type: models[" + i|string + "].name,
                            year: document.getElementById(`selectYear`).value
                           }" %}
            {{ insert_form(form_info, info) }}
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
     <script src="{{ url_for('static', filename='javascript/submit_form.js')}}"></script>
    <script>
        const models = JSON.parse('{{ models|tojson|safe }}');

        function hideForms() {
            for (let i = 0; i < models.length; i++) {
                document.getElementById(models[i].name + '_form').style.display = 'none';
            }
        }

        function showReq() {
            hideForms();
            let option = document.getElementById('selectWork').value;
            document.getElementById(option + '_form').style.display = 'block';
        }

        hideForms();

    </script>
{% endblock %}