{% extends 'mainTemplate.html' %}
{% block title %}Профиль{% endblock %}
{% block pagename %}Профиль{% endblock %}
{% block content %}
    {% include 'includes/changePasswordModal.html' %}
    <div class="card mb-3">
        <div class="card-header">Управление профилем</div>
        <div class="card-body">
            <div class="btn-group" role="group">
                <button class="btn btn-primary mr-3" data-toggle="modal" data-target="#passwordModel">Сменить пароль</button>
                <button class="btn btn-danger" onclick="deleteUser(profile[1].value)">Удалить профиль</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Редактирование профиля</div>
        <div class="card-body">
            {{ insert_form({"name": "profile", "fields": profile, "fixed_disabled": enable_fixed_edit},
             "`profile`, `/profile`, profile, `PUT`")}}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var profile = JSON.parse('{{ profile|tojson|safe }}');
    </script>
    <script src="{{ url_for('static', filename='javascript/submit_form.js')}}"></script>
    <script src="{{ url_for('static', filename='javascript/listOfUsers.js')}}"></script>
{% endblock %}