{% extends 'mainTemplate.html' %}
{% block title %}Регистрация{% endblock %}
{% block pagename %}Регистрация{% endblock %}
{% block content %}
    {% set form_info = {'name': 'profile', 'fields': profile, 'fixed_disabled': true} %}
    {% set info = "`profile`, `/registration`, profile" %}
    {{ insert_form(form_info, info) }}
{% endblock %}
{% block scripts %}
    <script>
        hideSidebar();
        var profile = JSON.parse('{{ profile|tojson|safe }}');
    </script>
    <script src="{{ url_for('static', filename='javascript/submit_form.js')}}"></script>
{% endblock %}